@use './include-media' as im with (
	$breakpoints: (
		phone: 320px,
		tablet: 768px,
		desktop: 1024px,
		huge: 1300px
	)
);

@use './components/ltx_document';

@use './components/errors';
@use './components/link';
@use './components/ltx_abstract';
@use './components/ltx_align';
@use './components/ltx_appendix';
@use './components/ltx_authors';
@use './components/ltx_bibliography';
@use './components/ltx_caption';
@use './components/ltx_cite';
@use './components/ltx_classification';
@use './components/ltx_date';
@use './components/ltx_engrafo_author_notes';
@use './components/ltx_engrafo_equation_container';
@use './components/ltx_equation';
@use './components/ltx_equationgroup';
@use './components/ltx_enumerate';
@use './components/ltx_figure';
@use './components/ltx_float';
@use './components/ltx_font';
@use './components/ltx_framed';
@use './components/ltx_glossary';
@use './components/ltx_indent';
@use './components/ltx_index';
@use './components/ltx_itemize';
@use './components/ltx_keywords';
@use './components/ltx_listing';
@use './components/ltx_note';
@use './components/ltx_page_footer';
@use './components/ltx_para';
@use './components/ltx_paragraph';
@use './components/ltx_proof';
@use './components/ltx_quote';
@use './components/ltx_red';
@use './components/ltx_runin';
@use './components/ltx_section';
@use './components/ltx_subsection';
@use './components/ltx_subsubsection';
@use './components/ltx_table';
@use './components/ltx_tabular';
@use './components/ltx_theorem';
@use './components/ltx_title_appendix';
@use './components/ltx_title_bibliography';
@use './components/ltx_title_chapter';
@use './components/ltx_title_document';
@use './components/ltx_title_paragraph';
@use './components/ltx_title_section';
@use './components/ltx_title_subparagraph';
@use './components/ltx_title_subsection';
@use './components/ltx_title_subsubsection';
@use './components/ltx_TOC';
@use './components/ltx_verbatim';

// TODO: don't set any global styles
body {
	margin: 0;
}

// Contain everything inside .ltx_page_main
.ltx_page_main {
	text-rendering: optimizeLegibility;

	& > * {
		.ltx_centering {
			margin-left: auto;
			margin-right: auto;
		}
	}

	// .ltx_document is the root element for most of the document, containing the grid layout
}

// Tippy tooltips get appended to <body>
// @use "./tippy";
