// Only top-level figures, not subfigures
*:not(.ltx_subfigure) > .ltx_figure {
	margin-top: 4rem;
	margin-bottom: 4rem;

	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;

	.ltx_graphics {
		margin: auto;
	}
	.ltx_caption {
		margin-top: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
