@use '../fonts' as *;
@use '../include-media' as *;

.ltx_authors {
	@include font-body();

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;

	margin-bottom: 1em;

	gap: 20px;

	@include media('>=desktop', '<huge') {
		gap: 30px;
	}

	@include media('>=huge') {
		gap: 50px;
	}

	.ltx_personname {
		font-weight: bold;

		// In case of multiple notes per author, separate them with comma.
		.ltx_note_mark:not(:last-child):after {
			content: ',';
		}
	}

	// No spaces between authors
	.ltx_break,
	.ltx_author_before {
		display: none;
	}

	.ltx_creator,
	.ltx_author_after,
	.ltx_author_notes,
	.ltx_author_notes .ltx_contact {
		// display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}
}
