:root {
	--background: #000000;
	--foreground: #ffffff;
	--link-color: #66ccff;
	--link-hover-color: #56c5fd;
	--link-active-color: #46bdf5;

	--muted-separator: #414141;
	--muted-foreground: #b3b3b3;
	--muted-foreground-2: #8c8c8c;
	--muted-foreground-3: #666666;

	--accent-1: #f35815;
	--border-thickness: 2px;
	--border-radius: 5px;

	--modal-bg: #393939;

	--font-size: 16px;
	--line-height: 1.2rem;
	--font-weight-bold: 800;
	--font-weight-normal: 500;
	--font-weight-medium: 600;
	--font-family: 'JetBrains Mono', monospace;

	--t-crp-background-hover: #1f2328;
	--t-crp-border: #1f2328;
	--t-crp-border-hover: #1f2328;
	--t-crp-elevation-shadow: 0px 2px 4px 0px #00000040;
	--t-crp-border: #1f2328;
	--t-crp-light-border: #1f2328;

	&[data-theme='light'] {
		--t-crp-box-shadow: #1f23280a 0px 1px 0px 0px, #ffffff40 0px 1px 0px 0px inset;
	}
	&[data-theme='dark'] {
		--t-crp-box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px;
	}
}
